* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    background-color: #292929;
}
h2 {
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 3em;
}
.form {
    margin: 0 auto;
    margin-top: 100px;
    width: 300px;
    height: 400px;
    padding: 15px 10px;
    background-color: #000;
    border-radius: 12px;
    box-shadow: 5px 5px 15px 2px rgba(148, 148, 148, 0.1);
}
#display {
    
    padding: 15px 10px;
    font-size: 38px;
    width: 100%;
    margin-bottom: 15px;
    color: #fff;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: #292929;
    box-shadow: 5px 5px 15px 2px rgba(148, 148, 148, 0.1);
}
input[type=button] {
    font-family: sans-serif;
    padding: 0;
    width: 60px;
    height: 60px;
    margin-top: 5px;
    font-size: 28px;
    background-color:#292929;
    color: #ffff;
    border: none;
    box-shadow: 5px 5px 15px 2px rgba(148, 148, 148, 0.1);
}
input[type=button]:hover {
    color: rgb(0, 214, 252);
    box-shadow: -2px 2px 15px 2px #fff;
}